@import "../../mixin.scss";

.root {
  .content {
    height: 70vh;
    width: 50vw;
    // width: 100%;

    .form {
      display: flex;
      flex-direction: column;
      overflow: scroll;

      & > * {
        margin-bottom: 2.5vw;
      }
    }
  }
  .buttonArea {
    background-color: orange;
  }
}
