@import "../../mixin.scss";

.root {
  .content {
    height: 70vh;
    width: 50vw;
    // width: 100%;

    .form {
      display: flex;
      flex-direction: column;
      overflow: scroll;

      & > * {
        margin-bottom: 2.5vw;
      }
    }
  }
  .buttonArea {
    .saveButton {
      color: $primaryLight;
      border: 1px solid $primaryLight;
    }

    .cancelButton {
      color: #c74d4d;
      border: 1px solid #c74d4d;
    }
  }
}
