@import "../../mixin.scss";

.root {
  display: flex;
  align-items: center;

  .name {
    font-size: 2.5vw;
    width: 65%;
    color: $primaryDark;
    overflow-wrap: break-word;

    @include sm {
      font-size: 8vw;
    }
  }

  .option {
    font-size: 1.2vw;
    margin-left: 2vw;
    padding: 0.5% 2%;
    cursor: pointer;
    &.edit {
      color: $secondaryMedium;
      border: 1px solid $secondaryMedium;
    }
    &.delete {
      color: #c74d4d;
      border: 1px solid #c74d4d;
    }

    @include sm {
      font-size: 4vw;
    }
  }

  .optionButton {
    margin-left: 2vw;
    color: $secondaryMedium;
  }
}
