$primaryDark: #465efc;
$primaryMedium: #2c90de;
// $primaryLight: #50a3e4;
$primaryLight: #87c0ec;

$secondaryDark: #3e363f;
$secondaryMedium: #666167;
$secondaryLight: #968c97;

$spMaxWidth: 600px;
// $tabMinWidth: 960px;
$tabMaxWidth: 960px;
// $pcMinWidth: 1920px;

@mixin sm($max: $spMaxWidth) {
  @media only screen and (max-width: #{$max}) {
    @content;
  }
}

@mixin md($max: $tabMaxWidth) {
  @media only screen and (max-width: #{$max}) {
    @content;
  }
}
