@import "../../mixin.scss";

.root {
  height: 30px;
  background-color: $primaryLight;
  overflow: hidden;
  text-indent: 10px;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;

  & + .root {
    margin-top: 10px;
  }
}
