@import "../../mixin.scss";

.root {
  height: 92vh;
  width: 100vw;
  margin: 4vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include sm {
    height: unset;
  }

  .logo {
    height: 270px;
    width: auto;

    @include sm {
      height: 200px;
    }
  }

  .title {
    // margin-top: 4vw;
    color: $primaryMedium;
    font-size: 6vw;
    letter-spacing: 3px;

    @include sm {
      font-size: 9vw;
    }
  }

  .text {
    margin-top: 1vw;
    color: $primaryLight;
    font-size: 3vw;

    @include sm {
      font-size: 5vw;
    }
  }

  .buttonArea {
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondaryMedium;

    .googleSignIn {
      width: 100%;
      padding: 6% 18%;
      border: 1px solid $secondaryMedium;
      cursor: pointer;
    }
    .or {
      margin: 1vw 0;
    }
    .buttonArea {
    }
  }
}
