@import "../../mixin.scss";

.root {
  .fields {
    .fieldLine {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & + .fieldLine {
        margin-top: 1vw;
      }

      .field {
        width: 95%;
        display: flex;
        flex-direction: column;
      }

      .deleteButton {
        color: #c74d4d;
      }
    }
  }

  .addButton {
    display: inline-block;
  }

  @include sm {
    width: 80%;
  }
}
