@import "../../mixin.scss";

.root {
  display: flex;
  // align-items: center;
  align-items: flex-start;

  .label {
    width: 25%;
    color: $secondaryMedium;
  }

  .content {
    width: 80%;
    font-size: 1.8vw;
    color: $secondaryDark;
  }

  & + .root {
    margin-top: 5vh;
  }
}

.multiLine {
  align-items: flex-start;
}
