@import "../../mixin.scss";

.root {
  height: calc(100vh - 60px);
  width: 200px;
  position: sticky;
  top: 60px;
  background-color: #f4f4f4;

  @include sm {
    height: 100vh;
    top: 0;
  }

  .addCompany {
    margin: 2vw 0;
    text-align: center;
    cursor: pointer;
  }

  .list {
    padding: 2vh 0 2vh 2vw;
  }
}
