@import "../../mixin.scss";

.root {
  &.salary {
    width: 22%;

    @include sm {
      width: 50%;
    }
  }

  @include sm {
    width: 80%;
  }
}

.root {
  .MuiInput-underline:hover:not(.Mui-disabled):before {
    border: 2px solid red;
  }
}
